li {
  padding: 5px;
  margin: 5px;
  background: #E8B92D;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: #BA4A00;
}

.form-group {
  margin-bottom: 5px;
}
